@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Roboto:ital,wght@1,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: #130f64;
  height: 130px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto; }

.nav-link {
  color: white;
  text-decoration: none; }

.logo img {
  width: 50px;
  height: 50px;
  line-height: 80px; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s; }

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none; }

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 70px; }
  .header {
    height: 60px;
    z-index: 1; }
    .header .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px; }
    .header .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-image: linear-gradient(rgba(0, 0, 1, 0.8), #000101);
      height: 500px;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s; }
    .header .nav-menu-item {
      line-height: 70px; }
    .header .nav-menu-link:hover,
    .header .nav-menu-link_active {
      background: none;
      color: #83c5f7; }
    .header .nav-toggle {
      display: block; }
    .header .nav-menu_visible {
      left: 0; }
    .header .nav-toggle:focus:not(:focus-visible) {
      outline: none; }
  .caja {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(42, 42, 194, 0.9), #000101), url("https://www.datos101.com/wp-content/uploads/2017/07/google-cloud-datacenter-2-990x660.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; }
    .caja img {
      margin-top: 150px;
      width: 290px;
      height: 290px; }
    .caja .tituloMarba {
      text-align: center;
      font-size: 70px;
      color: white;
      font-family: 'Bebas Neue', cursive; }
    .caja .subtitulo {
      text-align: center;
      color: white; }
    .caja button {
      align-items: center; }
  .datacenter {
    margin-top: 40px; }
    .datacenter .tituloServicios {
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      font-size: 40px;
      margin: 5px 5px 5px 5px; }
    .datacenter img {
      padding: 10px 15px 10px 15px; }
    .datacenter .parrafo {
      text-align: center;
      margin-top: 7px;
      padding: 5px 20px 10px 20px;
      font-size: 1.2rem;
      width: 100%;
      font-family: 'Koulen', cursive; }
    .datacenter #botonData {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
    .datacenter #botonMasInfo {
      font-size: 1rem;
      font-family: 'Koulen', cursive; }
  .infraestructuraIndustria {
    margin-top: 40px;
    background-image: linear-gradient(to right, #09094e, #0f0e0e);
    color: white; }
    .infraestructuraIndustria .tituloServicios {
      margin-top: 70px;
      text-align: center;
      font-size: 40px;
      padding-top: 30px;
      font-family: 'Bebas Neue', cursive; }
    .infraestructuraIndustria img {
      padding: 10px 15px 10px 15px; }
    .infraestructuraIndustria .parrafo {
      text-align: center;
      margin-top: 7px;
      font-size: 1.2rem;
      padding: 5px 25px 5px 25px;
      font-family: 'Koulen', cursive; }
    .infraestructuraIndustria #botonData {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
    .infraestructuraIndustria #botonMasInfo {
      font-size: 1rem;
      font-family: 'Koulen', cursive; }
  .ingenieriaConsultoria {
    margin-top: 40px; }
    .ingenieriaConsultoria .tituloServicios {
      margin-top: 70px;
      text-align: center;
      font-size: 40px;
      padding-top: 30px;
      font-family: 'Bebas Neue', cursive; }
    .ingenieriaConsultoria img {
      padding: 10px 15px 10px 15px; }
    .ingenieriaConsultoria .parrafo {
      text-align: center;
      margin-top: 7px;
      font-size: 1.2rem;
      padding: 5px 25px 5px 25px;
      font-family: 'Koulen', cursive; }
    .ingenieriaConsultoria #botonData {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
    .ingenieriaConsultoria #botonMasInfo {
      font-size: 1rem;
      font-family: 'Koulen', cursive; }
  .caja-quienesSomos {
    background-image: linear-gradient(to right, #09094e, #0f0e0e);
    margin-top: 50px;
    color: white;
    height: 1800px;
    margin-bottom: 50px; }
    .caja-quienesSomos h1 {
      text-align: center;
      font-size: 40px;
      padding: 25px 0 10px 0;
      font-family: 'Bebas Neue', cursive; }
    .caja-quienesSomos p {
      text-align: center;
      padding: 10px 20px 5px 20px;
      font-family: 'Koulen', cursive;
      font-size: 1.1rem; }
  .titulo-slider {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive; }
  .subtitulo-slider {
    text-align: center;
    font-family: 'Koulen', cursive; }
  .botonSlider {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .botonSlider a {
      border: 3px solid black;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 10px 10px 10px 10px;
      text-align: center;
      align-items: center;
      font-family: 'Bebas Neue', cursive;
      color: #000;
      background-color: #c1d8e9; }
    .botonSlider a:hover {
      background-color: #0d0da0; }
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-top: 50px; }
    .slider .slide-track {
      display: flex;
      animation: scroll 40s linear infinite;
      -webkit-animation: scroll 30s linear infinite;
      width: calc(200px * 10); }
    .slider .slide {
      width: 300px;
      display: flex; }
      .slider .slide img {
        width: 100%; }
  @keyframes scroll {
    0% {
      -webkit-animation: translateX(0);
      transform: translateX(0); }
    100% {
      -webkit-animation: translateX(calc(-300px * 5));
      transform: translateX(calc(-300px * 5)); } } }

@media (min-width: 769px) and (max-width: 2600px) {
  .header {
    background-color: #171070;
    height: 130px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto; }
  .nav-link {
    color: white;
    text-decoration: none; }
  .logo img {
    width: 80px;
    height: 80px;
    line-height: 80px; }
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none; }
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px; }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s; }
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none; }
  .caja {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(42, 42, 194, 0.9), #000101), url("https://www.datos101.com/wp-content/uploads/2017/07/google-cloud-datacenter-2-990x660.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; }
    .caja img {
      margin-top: 150px;
      width: 450px;
      height: 450px;
      padding-top: 70px; }
    .caja .tituloMarba {
      text-align: center;
      font-size: 70px;
      color: white;
      font-family: 'Bebas Neue', cursive; }
    .caja .subtitulo {
      text-align: center;
      color: white; }
    .caja button {
      align-items: center; }
  .datacenter {
    margin-top: 70px; }
    .datacenter .tituloServicios {
      font-family: 'Bebas Neue', cursive;
      padding-left: 65px;
      font-size: 3rem;
      margin: 5px 5px 5px 5px; }
    .datacenter img {
      padding: 10px 15px 10px 65px;
      width: 600px;
      height: 400px;
      border-radius: 7px;
      float: left; }
    .datacenter .parrafo {
      margin-top: 7px;
      padding: 5px 20px 10px 20px;
      font-size: 1.6rem;
      width: 100%;
      font-family: 'Koulen', cursive; }
    .datacenter #botonData {
      font-size: 1.7rem;
      font-family: 'Koulen', cursive;
      padding-left: 65px; }
    .datacenter #botonData:hover {
      background-color: #3023e2; }
    .datacenter #botonMasInfo {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
  .infraestructuraIndustria {
    margin-top: 40px;
    padding-top: 30px;
    background-image: linear-gradient(to right, #09094e, #0f0e0e);
    color: white; }
    .infraestructuraIndustria .tituloServicios {
      margin-top: 70px;
      text-align: center;
      font-size: 40px;
      padding-top: 30px;
      font-family: 'Bebas Neue', cursive;
      padding-left: 500px; }
    .infraestructuraIndustria img {
      padding: 10px 15px 10px 15px;
      width: 600px;
      height: 300px;
      border-radius: 7px;
      float: right; }
    .infraestructuraIndustria .parrafo {
      text-align: center;
      margin-top: 7px;
      font-size: 1.6rem;
      padding: 5px 25px 5px 25px;
      font-family: 'Koulen', cursive; }
    .infraestructuraIndustria #botonData {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive;
      background-image: linear-gradient(to right, #09094e, #0f0e0e);
      color: white; }
    .infraestructuraIndustria #botonMasInfo {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
  .ingenieriaConsultoria {
    margin-top: 70px; }
    .ingenieriaConsultoria .tituloServicios {
      font-family: 'Bebas Neue', cursive;
      padding-left: 65px;
      font-size: 3rem;
      margin: 5px 5px 5px 5px; }
    .ingenieriaConsultoria img {
      padding: 10px 15px 10px 65px;
      width: 600px;
      height: 400px;
      border-radius: 7px;
      float: left; }
    .ingenieriaConsultoria .parrafo {
      margin-top: 7px;
      padding: 5px 20px 10px 20px;
      font-size: 1.6rem;
      width: 100%;
      font-family: 'Koulen', cursive; }
    .ingenieriaConsultoria #botonData {
      font-size: 1.7rem;
      font-family: 'Koulen', cursive;
      padding-left: 65px; }
    .ingenieriaConsultoria #botonData:hover {
      background-color: #3023e2; }
    .ingenieriaConsultoria #botonMasInfo {
      font-size: 1.3rem;
      font-family: 'Koulen', cursive; }
  .caja-quienesSomos {
    background-image: linear-gradient(to right, #09094e, #0f0e0e);
    margin-top: 150px;
    color: white;
    height: 1500px;
    margin-bottom: 50px;
    padding: 70px 60px 40px 60px; }
    .caja-quienesSomos h1 {
      margin-top: 100px;
      font-family: 'Bebas Neue', cursive; }
    .caja-quienesSomos p {
      text-align: left;
      padding: 50px 40px 25px 30px;
      font-family: 'Koulen', cursive;
      font-size: 1.2rem; }
  .titulo-slider {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive; }
  .subtitulo-slider {
    text-align: center;
    font-family: 'Koulen', cursive; }
  .botonSlider {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .botonSlider a {
      border: 3px solid black;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 10px 10px 10px 10px;
      text-align: center;
      align-items: center;
      font-family: 'Bebas Neue', cursive;
      color: #000;
      background-color: #c1d8e9; }
    .botonSlider a:hover {
      background-color: #0d0da0; }
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-top: 50px; }
    .slider .slide-track {
      display: flex;
      animation: scroll 30s linear infinite;
      -webkit-animation: scroll 30s linear infinite;
      width: calc(200px * 10); }
    .slider .slide {
      width: 300px;
      display: flex; }
      .slider .slide img {
        width: 100%; }
  @keyframes scroll {
    0% {
      -webkit-animation: translateX(0);
      transform: translateX(0); }
    100% {
      -webkit-animation: translateX(calc(-300px * 5));
      transform: translateX(calc(-300px * 5)); } } }

footer {
  color: white; }
  footer .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer .logo {
    margin-top: 60px;
    text-align: center;
    font-size: 3em;
    color: #000; }
  footer .logo span {
    color: #09094e; }
  footer .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }
  footer .contact-wrapper > * {
    padding: 1em; }
  footer .contact-form {
    background: #222222; }
  footer .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  footer .contact-form form label {
    display: block; }
  footer .contact-form form p {
    margin: 0;
    padding: 1em; }
  footer .contact-form form .block {
    grid-column: 1 / 3; }
  footer .contact-form form button,
  footer .contact-form form input,
  footer .contact-form form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #eeeef1; }
  footer .contact-form form button {
    background: #09094e;
    border: 0;
    text-transform: uppercase;
    padding: 1em; }
  footer .contact-form form button:hover,
  footer .contact-form form button:focus {
    background: #09094e;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0; }
  footer .contact-info {
    background: #000; }
  footer .contact-info h4,
  footer .contact-info ul,
  footer .contact-info p {
    text-align: center;
    margin: 0 0 1rem; }
  @media (min-width: 768px) {
    footer body {
      padding: 0 4em; }
    footer .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr; }
    footer .contact-wrapper > * {
      padding: 2em; }
    footer .contact-info ul,
    footer .contact-info h4,
    footer .contact-info p {
      text-align: left; } }
